<%= form_tag('/numerals', remote: true, method: "post") do %>
  <%= label_tag(:number, "Number:") %>
  <%= text_field_tag(:number) %>
  <%= submit_tag("To string") %>
<% end %>
<div id="response"></div>